#Pycharm
/.idea

# Custom directories
/data/*

!/data/buildingblocks/
/data/buildingblocks/*
!/data/buildingblocks/.gitkeep

!/data/db/
/data/db/*
!data/db/.gitkeep

!/data/inputs/
/data/inputs/*
!/data/inputs/.gitkeep

!/data/library_static/

!/data/logs/
/data/logs/*
!/data/logs/.gitkeep

!/data/plates/
/data/plates/*
!/data/plates/plate_list.csv

!/data/util
/data/util/*
!/data/util/bash_sample_to_copy_SampleTable.txt
!/data/util/transfer_files_folder_template

notebooks/plotting/product_images


# Jupyter
.ipynb_checkpoints
# MacOS
.DS_Store
# Pickle
*.pkl
# backups
*_backup_*
# cache
*__pycache__*
